<% provide(:title, "About") %>
<h1>About</h1>
<h2>このWebアプリは英語を母国語とするクリスチャンのための日本の讃美歌をメインとした弾き語りギター専用アプリです。</h2>
<p>Github: <a href="https://github.com/emuzcode/aws_worship_app">aws_worship_app</a></p>

<p><b>アプリケーション概要</b></p>

<p>　日本の讃美歌専用ギターコード譜配信サイト</p>

<p>ターゲット: 英語圏のクリスチャンかつ日本の讃美歌に興味がある方</p>

<p><b>機能一覧</b></p>

<p>　ログイン機能, 認証機能, Remember Me 機能, パスワードリセット機能, ページネーション機能, 検索機能, お気に入り機能 (ajax), 楽曲キー変更機能 (ajax), 楽曲コード変更機能 (ajax)</p>

<p><b>使用技術一覧</b></p>

<p>　言語: HTML5, CSS3, Sass, JavaScript, jQuery, SQL, Ruby 2.7.3</p>

<p>　フレームワーク: Rails 6</p>

<p>　AWS: VPC(Amazon Virtual Private Cloud), RDS(Amazon Relational Database Service), EC2(Amazon Elastic Compute Cloud), Route 53, ACM(Certificate Manager), ALB(Application Load Balancer)</p>

<p>　データベース: MySQL</p>

<p>　セキュリティ: bcrypt, SecureRandom モジュール(urlsafe_base64)</p>

<p>　Web サーバー: Nginx</p>

<p>　アプリケーションサーバー: Puma</p>

<p>　ツール: Capistrano, Bootstrap</p>

<p>　テスト: minitest</p>

