<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>Mail</p>
<a href="mailto:ts95.business@gmail.com">ts95.business@gmail.com</a>
<p>Twitter</p>
<a href="https://twitter.com/TaroSakazume">たろうまる@TaroSakazume</a>

<%= render 'shared/logo' %>