<% provide(:title, "Help") %>
<h1>Help</h1>

<p><b>how to search your favorite song</b></p>
  <p>&nbsp;</p>
	<p>1. search by  "first letter of a word" </p>
		<p>　First, select the range from a to z and click any character.</p>
		<p>　A singer whose initial letter you choose is displayed.</p>
		<p>&nbsp;</p>
		<p>　Then click on name of singer you like.</p>
		<p>　The song list page for the selected singer will be displayed.</p>
    <p>&nbsp;</p>
		<p>　Finally, click on the song title you like.</p>
		<p>　Then it goes to the selected song page.</p>
    <p>&nbsp;</p>
		<p>　＊If you cannot find any singer / song name, there is a possibility that the content has not been updated on this site.</p>
		<p>　We would appreciate it if you could wait for the next update or make a request from the Contact page.</p>
    <p>&nbsp;</p>
	<p>2. Search from "the search box"</p>
		<p>　First, set the value in the option tags.</p>
		<p>　＊Select either "Singer" or "Song".</p>
    <p>&nbsp;</p>
		<p>　Then enter the character of the value you want to search for.</p>
    <p>&nbsp;</p>
		<p>　Finally, click the "Search" button to go to the search results page.</p>
    <p>&nbsp;</p>
		<p>　＊If you cannot find any singer / song name, there is a possibility that the content has not been updated on this site.</p>
		<p>　We would appreciate it if you could wait for the next update or make a request from the Contact page.</p>

