<% provide(:title, "Help") %>
<h1>Help</h1>

<p><b>検索の仕方</b></p>
  <p>&nbsp;</p>
	<p>1. アルファベットから検索</p>
		<p>　始めにa~z までの範囲を選び、任意の文字をクリックしてください。</p>
		<p>　任意の文字が頭文字の歌手が表示されます。</p>
		<p>&nbsp;</p>
		<p>　次に任意の歌手名をクリックしてください。</p>
		<p>　選択された歌手の曲一覧ページに移動します。</p>
    <p>&nbsp;</p>
		<p>　最後に任意の曲名をクリックしてください。</p>
		<p>　選択された曲ページに移動します。</p>
    <p>&nbsp;</p>
		<p>　＊任意の歌手名・曲名が見つからない場合、本サイト側でまだ更新されていないコンテンツの可能性があります。</p>
		<p>　次回の更新をお待ち頂くもしくは、 Contactページよりリクエストを頂けますと幸いです。</p>
    <p>&nbsp;</p>
	<p>2. 検索ボックスから検索</p>
		<p>　始めにオプションタグにある値をセットしてください。</p>
		<p>　＊「歌手名」もしくは「曲名」のどちらかを選択してください。</p>
    <p>&nbsp;</p>
		<p>　次に検索ボックスの中に検索したい値の文字を入力してください。</p>
    <p>&nbsp;</p>
		<p>　最後に「Search」というボタンをクリックすると、検索結果ページに移動します。</p>
    <p>&nbsp;</p>
		<p>　＊任意の歌手名・曲名が見つからない場合、本サイト側でまだ更新されていないコンテンツの可能性があります。</p>
		<p>　次回の更新をお待ち頂くもしくは、 Contactページよりリクエストを頂けますと幸いです。</p>

