<div class="key_change">
  <div class ="current_key">
    <div class="key_is">
      <div class="box">
        <p>Key Change &nbsp;</p>
      </div>
      <div class="box">
        <form name="change" class="form_box">
          <select name="keyselect" id="key">
            <option value="+0">+5</option>
            <option value="+11">+4</option>
            <option value="+10">+3</option>
            <option value="+9">+2</option>
            <option value="+8">+1</option>
            <option value="+7" selected>±0</option>
            <option value="-6">-1</option>
            <option value="-5">-2</option>
            <option value="-4">-3</option>
            <option value="-3">-4</option>
            <option value="-2">-5</option>
            <option value="-1">-6</option>
          </select>
        </form>
      </div>
    </div>
  </div>
  <div class="current_key">
    <div class="key_is">
      <div class="box">
        <p>Key: &nbsp;</p>
      </div>
      <div class="box">
        <h3 class="chord_name1"></h3>
      </div>
    </div>
  </div>
</div>

<div class="chords_area container center">
  <div class="row container-fluid">
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name1"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img1" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            こ
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            こ
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name4"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img4" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            に
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            い
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name5"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img5" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            ず
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            み
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            は
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            わ
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name6"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img6" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            く
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            な
          </div>
          <div class=lyric>
            み
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row container-fluid">
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name4"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img4" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            だ
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            を
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name5"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img5" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            す
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            ぎ
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            る
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            と
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name1"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img1" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            き
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_subzone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name4"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img4" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            &nbsp;
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name5"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img5" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            &nbsp;
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row container-fluid">
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name1"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img1" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            や
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            が
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name4"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img4" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            て
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name5"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img5" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            み
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            を
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            む
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            す
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name6"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img6" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            び
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            わ
          </div>
          <div class=lyric>
            ら
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row container-fluid">
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name4"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img4" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            い
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            ご
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name5"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img5" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            え
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            に
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            み
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            ち
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name1"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img1" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            る
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="subchord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name1"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img1" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name5"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img5" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            は
          </div>
          <div class=lyric>
            な
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row container-fluid">
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name4"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img4" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            も
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            く
          </div>
          <div class=lyric>
            も
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name5"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img5" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            も
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            か
          </div>
          <div class=lyric>
            ぜ
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name1"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img1" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            も
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            う
          </div>
          <div class=lyric>
            み
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name6"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img6" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            も
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            か
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            な
          </div>
          <div class=lyric>
            で
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row container-fluid">
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name4"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img4" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            よ
          </div>
          <div class=lyric>
            う
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            か
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            な
          </div>
          <div class=lyric>
            で
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name5"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img5" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            よ
          </div>
          <div class=lyric>
            う
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            イ
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            エ
          </div>
          <div class=lyric>
            ス
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name1"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img1" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            を
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="subchord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name1"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img1" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name5"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img5" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            そ
          </div>
          <div class=lyric>
            ら
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row container-fluid">
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name4"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img4" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            に
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            ひ
          </div>
          <div class=lyric>
            び
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name5"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img5" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            け
          </div>
           <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            う
          </div>
          <div class=lyric>
            た
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name1"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img1" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            え
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            た
          </div>
          <div class=lyric>
            ま
          </div>
          <div class=lyric>
            し
          </div>
          <div class=lyric>
            い
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name6"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img6" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            よ
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            め
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            ぐ
          </div>
          <div class=lyric>
            み
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row container-fluid">
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name4"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img4" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            を
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            め
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            ぐ
          </div>
          <div class=lyric>
            み
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name5"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img5" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            を
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            め
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            ぐ
          </div>
          <div class=lyric>
            み
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name1"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img1" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            を
          </div>
          <div class=lyric>
            &nbsp;
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name1"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img1" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
        </div>
      </div>
    </div>
  </div>
</div>