<div class="key_change">
  <div class ="current_key">
    <div class="key_is">
      <div class="box">
        <p>Key Change &nbsp;</p>
      </div>
      <div class="box">
        <form name="change" class="form_box">
          <select name="keyselect" id="key">
            <option value="+0">+5</option>
            <option value="+11">+4</option>
            <option value="+10">+3</option>
            <option value="+9">+2</option>
            <option value="+8">+1</option>
            <option value="+7" selected>±0</option>
            <option value="-6">-1</option>
            <option value="-5">-2</option>
            <option value="-4">-3</option>
            <option value="-3">-4</option>
            <option value="-2">-5</option>
            <option value="-1">-6</option>
          </select>
        </form>
      </div>
    </div>
  </div>
  <div class="current_key">
    <div class="key_is">
      <div class="box">
        <p>Key: &nbsp;</p>
      </div>
      <div class="box">
        <h3 class="chord_name1"></h3>
      </div>
    </div>
  </div>
</div>

<div class="chords_area container center">
  <div class="row container-fluid">
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name1"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img1" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            ko
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            ko
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name4"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img4" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            ni
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            i
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name5"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img5" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            zu
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            mi
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            wa
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            wa
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name6"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img6" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            ku
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            na
          </div>
          <div class=lyric>
            mi
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row container-fluid">
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name4"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img4" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            da
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            wo
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name5"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img5" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            su
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            gi
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            ru
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            to
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name1"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img1" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            ki
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_subzone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name4"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img4" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            &nbsp;
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name5"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img5" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            &nbsp;
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row container-fluid">
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name1"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img1" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            ya
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            ga
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name4"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img4" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            te
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name5"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img5" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            mi
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            wo
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            mu
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            su
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name6"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img6" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            bi
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            wa
          </div>
          <div class=lyric>
            ra
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row container-fluid">
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name4"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img4" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            i
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            go
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name5"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img5" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            e
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            ni
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            mi
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            chi
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name1"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img1" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            ru
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="subchord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name1"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img1" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name5"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img5" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            ha
          </div>
          <div class=lyric>
            na
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row container-fluid">
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name4"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img4" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            mo
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            ku
          </div>
          <div class=lyric>
            mo
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name5"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img5" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            mo
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            ka
          </div>
          <div class=lyric>
            ze
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name1"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img1" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            mo
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            u
          </div>
          <div class=lyric>
            mi
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name6"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img6" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            mo
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            ka
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            na
          </div>
          <div class=lyric>
            de
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row container-fluid">
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name4"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img4" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            yo
          </div>
          <div class=lyric>
            u
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            ka
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            na
          </div>
          <div class=lyric>
            de
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name5"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img5" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            yo
          </div>
          <div class=lyric>
            u
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            i
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            e
          </div>
          <div class=lyric>
            su
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name1"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img1" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            wo
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="subchord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name1"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img1" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name5"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img5" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            so
          </div>
          <div class=lyric>
            ra
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row container-fluid">
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name4"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img4" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            ni
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            hi
          </div>
          <div class=lyric>
            bi
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name5"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img5" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            ke
          </div>
           <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            u
          </div>
          <div class=lyric>
            ta
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name1"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img1" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            e
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            ta
          </div>
          <div class=lyric>
            ma
          </div>
          <div class=lyric>
            shi
          </div>
          <div class=lyric>
            i
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name6"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img6" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            yo
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            me
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            gu
          </div>
          <div class=lyric>
            mi
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row container-fluid">
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name4"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img4" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            wo
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            me
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            gu
          </div>
          <div class=lyric>
            mi
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name5"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img5" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            wo
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            me
          </div>
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            gu
          </div>
          <div class=lyric>
            mi
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name1"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img1" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            wo
          </div>
          <div class=lyric>
            &nbsp;
          </div>
        </div>
      </div>
    </div>
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name1"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img1" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            &nbsp;
          </div>
          <div class=lyric>
            &nbsp;
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h4>1.</h4>
<div>We've passed through the valley of weeping </div>
<div>And it's now a place of many springs </div>
<div>Can you see fruits are coming forth </div>
<div>Soon we will laugh and celebrate </div>
<h5>(Chorus)</h5>
<div>Let the flowers, clouds, and winds</div>
<div>And the wide open seas</div>
<div>Sing His name</div>
<div>Sing His name Jesus </div>
<div>Let the songs of our souls</div>
<div>Join and resound across the skies</div>
<div>Shout His grace</div>
<div>Shout His grace </div>
<div>Shout His grace </div>