<div class="key_change">
  <div class ="current_key">
    <div class="key_is">
      <div class="box">
        <p>Key Change &nbsp;</p>
      </div>
      <div class="box">
        <form name="change" class="form_box">
          <select name="keyselect" id="key">
            <option value="+5">+5</option>
            <option value="+4">+4</option>
            <option value="+3">+3</option>
            <option value="+2">+2</option>
            <option value="+1">+1</option>
            <option value="+0" selected>±0</option>
            <option value="-11">-1</option>
            <option value="-10">-2</option>
            <option value="-9">-3</option>
            <option value="-8">-4</option>
            <option value="-7">-5</option>
            <option value="-6">-6</option>
          </select>
        </form>
      </div>
    </div>
  </div>
  <div class="current_key">
    <div class="key_is">
      <div class="box">
        <p>Key: &nbsp;</p>
      </div>
      <div class="box">
        <h3 class="chord_name1"></h3>
      </div>
    </div>
  </div>
</div>

<div class="chords_area container center">
  <div class="row container-fluid">
    <div class ="chord_and_lyric">
      <div class="space_for_lyric">
        <div class="chord_zone">
          <div class="chord_box">
            <div class="chord_name">
              <h3  class="chord_name1"></h3>
            </div>
            <div class="chord_img">
              <img class="chord_img1" src="">
            </div>
          </div>
        </div>
        <div class="lyric_zone">
          <div class=lyric>
            &nbsp;
          </div>
        </div>
      </div>
    </div>
  </div>
</div>