<% provide(:title, @user.name) %>

<div class="like-index text-center">
  <div class="user-name">
    <%= @user.name %>さんのお気に入り
  </div>
  <% if @user.likes.any? %>
    <% @likes.each do |song| %>
      <div id="song_<%= song.id %>">
        <%= link_to song.name_en, song %>
      </div>
    <% end %>
  <% else %>
    お気に入りはまだ登録されていません
  <% end %>
</div>