// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Title */
a {
  font-size: medium;
  color: gray;
  &:hover {
    color: white;
  }
}

/* Like */

#like_area {
  float: right;
  margin-top: 20px;
  margin-right: 30px;
}

/* key change */

.form_box {
  padding-top: 22px;
}

select {
  width: 50px;
  color: #222;
}

// .html "Key: X"

.current_key::after {
  content: "";
  display: block;
  clear: both;
}

.key_is {
  float: left;
  display: flex;
  margin-bottom: 20px;
  .box p {
    padding-top: 19px;
  }
}

/* chords_area*/

.chords_area {
  margin-bottom: 300px;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.chord_and_lyric {
  float: left;
}

.chord_zone {
  margin-right: 50px;
  display: flex;
}

.chord_subzone {
  display: flex;
}

.lyric_zone {
  display: flex;
}

.chord_name h3 {
  font-size: 15px;
  margin-right: 10px;
}

.lyric {
  flex: 1;
  display: inline;
  font-size: 16px;
}

.chord_img img {
  width: 75px;
  margin-right: 10px;
}
